.footer{
  background:#0f172a;
  padding:40px 8%;
  text-align:center;
  border-top:1px solid #1e293b;
}

.footer h2{
  color:#38bdf8;
  margin-bottom:10px;
}

.footer p{
  color:#94a3b8;
}

.social-icons{
  display:flex;
  justify-content:center;
  gap:25px;
  margin:25px 0;
}

.social-icons a{
  color:white;
  font-size:1.8rem;
  transition:0.3s;
}

.social-icons a:hover{
  color:#38bdf8;
  transform:translateY(-5px);
}

.copyright{
  margin-top:20px;
  font-size:0.9rem;
}